* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #222;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
    background-repeat: repeat;

    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    color: #222;
}

/**
  * Element which wraps all of the other .meny parts
  */
.meny-wrapper {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;

    -webkit-perspective-origin: 0% 50%;
    -moz-perspective-origin: 0% 50%;
    -ms-perspective-origin: 0% 50%;
    -o-perspective-origin: 0% 50%;
    perspective-origin: 0% 50%;
}

.meny,
.meny-contents {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: -webkit-transform .4s ease;
    -moz-transition: -moz-transform .4s ease;
    -ms-transition: -ms-transform .4s ease;
    -o-transition: -o-transform .4s ease;
    transition: transform .4s ease;

    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}

/**
 * The menu element which expands out from the left.
 */
.meny {
    display: none;
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 1;
    margin: 0px;
    padding: 15px;

    -webkit-transform: rotateY( -30deg ) translateX( -97% );
    -moz-transform: rotateY( -30deg ) translateX( -97% );
    -ms-transform: rotateY( -30deg ) translateX( -97% );
    -o-transform: rotateY( -30deg ) translateX( -97% );
    transform: rotateY( -30deg ) translateX( -97% );
}
.meny-ready .meny {
    display: block;
}
.meny-active .meny {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

/**
 * Page contents which gets pushed aside while meny is active.
 */
.meny-contents {
    padding: 20px 40px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
.meny-active .meny-contents {
    -webkit-transform: translateX( 200px ) rotateY( 15deg );
    -moz-transform: translateX( 200px ) rotateY( 15deg );
    -ms-transform: translateX( 200px ) rotateY( 15deg );
    -o-transform: translateX( 200px ) rotateY( 15deg );
    transform: translateX( 200px ) rotateY( 15deg );
}

/**
 * A shadow-like element placed on top of the contents while
 * meny is active.
 */
.meny-contents .cover {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 1000;
    opacity: 0;

    background: -moz-linear-gradient(left,  rgba(0,0,0,0.15) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.15)), color-stop(100%,rgba(0,0,0,0.65)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0.15) 0%,rgba(0,0,0,0.65) 100%);

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.meny-ready .meny-contents .cover {
    display: block;
}
.meny-active .meny-contents .cover {
    visibility: visible;
    opacity: 1;
}

/**
 * Graphic that highlights menu availability while inactive.
 */
.meny-arrow {
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 2;
    font-family: sans-serif;
    font-size: 36px ;
    color: #e74c3c;

    -webkit-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -ms-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -o-transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition: left 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}
.meny-active .meny-arrow {
    left: -40px;
    opacity: 0;
}


/**
 * Fallback for browsers that don't support transforms.
 */

.meny-no-transform .meny,
.meny-no-transform .meny-contents {
    -webkit-transition: left .4s ease;
    -moz-transition: left .4s ease;
    -ms-transition: left .4s ease;
    -o-transition: left .4s ease;
    transition: left .4s ease;
}

.meny-no-transform .meny {
    left: -300px;
}
.meny-no-transform.meny-active .meny {
    left: 0px;
}

.meny-no-transform .meny-contents {
    position: absolute;
}
.meny-no-transform.meny-active .meny-contents {
    left: 300px;
}


/**
 * Styles that are more or less specific to the demo page:
 */

a {
    color: #c2575b;
    text-decoration: none;

    -webkit-transition: 0.15s color ease;
    -moz-transition: 0.15s color ease;
    -ms-transition: 0.15s color ease;
    -o-transition: 0.15s color ease;
    transition: 0.15s color ease;
}
a:hover {
    color: #f76f76;
}

h1,
h2 {
    font-size: 18px;
}

.meny {
    background: #333;
    color: #eee;
}
.meny ul {
    margin-top: 10px;
}
.meny ul li {
    list-style: none;
    font-size: 18px;
    padding: 3px 5px;
}
.meny ul li:before {
    content: '-';
    margin-right: 5px;
    color: rgba( 255, 255, 255, 0.2 );
}

.meny-contents>article {
    max-width: 400px;
}
.meny-contents p {
    margin: 10px 0 10px 0;
    font-size: 16px;
    line-height: 1.32;
}

.meny-contents small {
    display: block;
    margin-top: 10px;
    padding-top: 10px;
    color: #333;
    font-size: 0.85em;
    border-top: 1px dashed #ccc;

    -webkit-text-size-adjust: none;
}

.meny-contents .sharing {
    position: absolute;
    bottom: 20px;
}


.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateX(-6px);
    }
    60% {
        transform: translateX(-15px);
    }
}
