body {
    background: #2d2d2d;
}

.meny-contents .Iam {
    padding: 2em 18em;
    font: bold 40px/50px Montserrat, sans-serif;
    color: #999;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
.meny-contents .Iam p {
    height: 50px;
    float: left;
    margin-right: 0.5em;
    font-size: 45px;
}
.meny-contents .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 15px;
}
.meny-contents .Iam .innerIam {
    display: inline-block;
    color: #e74c3c;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    font-size: 45px;


    /*animation*/
    -webkit-animation:move 5s;
    -moz-animation:move 5s;
    -ms-animation:move 5s;
    -o-animation:move 5s;
    animation:move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    animation-iteration-count:infinite;
    /*animation-delay*/
    -webkit-animation-delay:1s;
    -moz-animation-delay:1s;
    -ms-animation-delay:1s;
    -o-animation-delay:1s;
    animation-delay:1s;
}
@keyframes move{
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}