* {
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,'Lato',Helvetica, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color: #2D2D2D;
    height: 100%;
    overflow: hidden;
}


h1{
    font-size: 50px;
}

.btn{
    color: #fff;
    text-decoration: none;
    border: #ccc 1px solid;
    padding: 10px 15px;
    border-radius: 8px;
    line-height: 4em;
}

.btn:hover{
    color: #b19295;
    border: #fff 1px solid;
}

/*#particles-js{*/
    /*height: 100%;*/
    /*!*background-color: #2D2D2D;*!*/
/*}*/